bin
run
*.a
*.so
*.os
*~
\#*\#
*.o
*.d
*.pyc
*.pdb
.sconsign.dblite
build
.settings
.sconf_temp
ember.conf
.pydevproject
.cproject
.project
config.log
*.dll
*.lib
*.exp
*.manifest
*.pyd
doc/doxygen/html
doc/sphinx/doctrees
doc/sphinx/html
doc/ember-cxx.tag
python/setup.cfg
python/ember/*.cpp
python/Ember.egg-info
src/config.h
