bin
*.a
*.so
*~
\#*\#
*.o
*.d
*.pyc
*.pdb
.sconsign.dblite
build
.settings
.sconf_temp
pyro.conf
.pydevproject
.cproject
.project
config.log
*.dll
*.lib
*.exp
*.manifest
*.pyd
doc/doxygen/html
doc/sphinx/doctrees
doc/sphinx/html
